/* header */

header {
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

header nav {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  align-self: center;
  padding-right: 20px;
}

.logo img {
  padding: 5px 15px 5px 15px;
}

nav span {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding-left: 10px;
}

.logo  p {
  color: MediumAquamarine;
}

a:link {
    color: black;
}

/* main content */

body .maincontent {
  width: 100%;
  display: flex;
  border: 1px solid black;
  /* justify-content: flex-start; */
}

.largebox {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.mediumbox {
  /* display: flex; */
  /* flex-direction: column; */
  width: 300px;
}

.smallbox {
  /* display: flex; */
  /* flex-direction: column; */
  width: 240px;
}

.firstheadline {
  width: 630px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: flex;
  border: 1px solid black;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.firststory {
  border: 1px solid black;
}

.orcastory {
  width: 250px;
  border: 1px solid black;
}

.secondheadline {
  width: 250px;
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: 1px solid black;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");

}

.breakfastburger {
  width: 250px;
  border: 1px solid black;
}

.thirdheadline {
  width: 250px;
  border: 1px solid black;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.fbiaction {
  border: 1px solid black;
}

.catscontrol {
  border: 1px solid black;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.brooklyn {
  border: 1px solid black;
}

.cookie {
  border: 1px solid black;
}

.newsbites {
  border: 1px solid black;
}
